header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    font-size: 20px;
}
nav span{
    margin-left: 20px;
}
article{
    display: flex;
    justify-content: center;
    margin-top:30px ;
    background-color: rgb(28, 3, 3);
    color: white;
    padding: 20px;
}
.cards-set{
    display: flex;
}
.card{
    width: 600px;
    height: 500px;
    margin-top: 20px;
}
.card-btn{
    position: relative;
    bottom: 150px;
    left: 130px;     
}
.card-title{
    position: relative;
    bottom: 330px;
    left: 140px;
    font-size: 50px;
    color: rgb(229, 217, 217);
    font-family: arial;
    font-weight: bold;
}
.cards-footer{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.best{
    text-align: center;
    margin-top: 50px;
}
.best .b1{
    color: gray;
}
.best .b2{
    font-family: arial;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}
.best .b3{
    color: rgb(51, 50, 50);
}
.offer1{
   height: 400px;
    display: grid;
    grid-template-columns: 3fr 9fr;
    margin-top: 50px;
}
.offer2{
    display: grid;
    grid-template-columns: 8fr 4fr;
    height: 400px;
    margin-top: 50px;
}
.offer img {
    transition: 1s;
}
.offer img:hover {
    transform: translate(3px);
    box-shadow: 3px 3px 3px 3px rgb(58, 57, 57);
}
.type,.type-1{
    position: relative;
    bottom: 180px;
    left: 50px;
    font-size: 32px;
    font-family: arial;
    font-weight: bold;
}
.type-1 p, .type-1 button{
    color: white;
}
.shopping{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
}
.card-1{
    margin: 40px;
    height: 300px;
    width: 250px;
    overflow: hidden;
    transition: 1s;
   
}
.icons{
    text-align: center;
    margin-top: 20px;
}
.icons span{
    margin: 15px;
    font-size: 20px;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 100px;
    padding: 8px;

}
.shop-footer{
    margin-left: 45px;
    position: relative;
    bottom: 45px;
    font-size: 20px;
}
.card-1:hover .icons{
    transform:translateY(-60px) ;
}
.card-1 .icons{
    transition: 1s;
}
.card-1:hover{
    transform: scale(10px);
    box-shadow: 3px 3px 3px 2.5px rgb(63, 62, 62);
}